---



---

<div>
    <h2>Assistant</h2>
    <p>Ask me anything!</p>
    <input type="text" id="prompt" value=""/>
    <button id="send">Ask</button>
</div>
<p id="response">response: </p>

<script>
    import { GoogleGenerativeAI } from "@google/generative-ai";
    import 'dotenv/config';

    const apiG = process.env.G_API;

    if (!apiG) {
        throw new Error("G_API environment variable is not defined");
    }
    const genAI = new GoogleGenerativeAI(apiG);
    const model = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });
    
    const handleClick = async () => {
        
        const input = document.getElementById("prompt");
        const prompt = (input as HTMLInputElement)?.value; 
        const result = await model.generateContent(prompt);
        const responseElement = document.getElementById("response");

        if(responseElement) {
            responseElement.innerText = result.response.text();
        }

    }

    document.getElementById("send")?.addEventListener("click", handleClick);
</script>