---



---

<div>
    <h2>Assistant</h2>
    <p>Ask me anything!</p>
    <input type="text" id="prompt" value=""/>
    <button id="send">Ask</button>
</div>
<p id="response">response: </p>

<script>
    import { GoogleGenerativeAI } from "@google/generative-ai";

    const genAI = new GoogleGenerativeAI("AIzaSyC8NdFntuXa83f0YTEzz6SUmgbgDrJWGu4");
    const model = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });
    
    const handleClick = async () => {
        
        const input = document.getElementById("prompt");
        const prompt = (input as HTMLInputElement)?.value; 
        const result = await model.generateContent(prompt);
        const responseElement = document.getElementById("response");

        if(responseElement) {
            responseElement.innerText = result.response.text();
        }

    }

    document.getElementById("send")?.addEventListener("click", handleClick);
</script>