---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/manrope';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;


---

<html lang="en">
    <head>
		<BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <h1>{title}</h1>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>